@import "tailwindcss";


.swiper-pagination-bullet {
  background: #653825!important;
  opacity: 0.3;
}

.swiper-pagination-bullet-active {
  background: #653825!important;
  opacity: 1;
}



/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #f7f3e8; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7f3e8; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f7f3e8; 
}